[submodule "rubber-band"]
	path = rubber-band
	url = https://github.com/zhangbeanqc/rubber-band
[submodule "rock"]
	path = rock
	url = https://github.com/zhangbeanqc/rock
[submodule "fleet"]
	path = fleet
	url = https://github.com/zhangbeanqc/fleet	
[submodule "happy-man"]
	path = happy-man
	url = https://github.com/zhangbeanqc/happy-man
